.modal_screen {
  z-index: 50;
  position: fixed;
  inset: 0;
  overflow-y: auto;
  overflow-x: hidden;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_screen:focus {
  outline: none;
}

.modal_box_layout {
  position: relative;
  width: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 80%;
  min-width: 60%;
}

@media (min-width: 1024px) {
  .modal_box_layout {
    min-width: 50%;
  }
}

.modal_box_title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex: auto;
  background-color: var(--background-secondary);
}

.modal_body {
  position: relative;
  min-height: 40vh;
  padding: 20px;
  flex: auto;
}

.modal_box {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  border: 0;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1),
    0 5px 10px -5px rgba(0, 0, 0, 0.04);
  outline: none;
  box-shadow: 2px 1px 5px 2px #6c757d;
}

.modal_box:focus {
  outline: none;
}
.modal_title {
  font-weight: 400;
}

.modal_footer {
  display: flex;
  justify-content: end;
  padding: 5px;
  gap: 10px;
}

.modal_transparent_background {
  opacity: 0.25;
  position: fixed;
  inset: 0;
  z-index: 40;
  background-color: black;
}
